<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
<h1>Please make your changes below:</h1>
<div>
    <form th:action="@{/posts/{id}/edit(id=${post.id})}" th:method="post" th:object="${post}">
        <label for="title">Title</label><input type="text" id="title" name="title" th:field="*{title}" th:value="*{title}">
        <label for="body">Body</label><input type="text" id="body" name="body" th:field="*{body}" th:value="*{body}">
<!--        <ul>-->
<!--            <li th:each="category : ${categories}">-->
<!--                <label th:for="${category.name}" th:text="${category.name}"></label>-->
<!--                <input type="checkbox" name="categoryIds" th:id="${category.name}" th:value="${category.id}" th:checked="${post.categories.get(${category.id})} : ">-->
<!--            </li>-->
<!--        </ul>-->
        <button type="submit">Submit Changes</button>
    </form>
</div>
</body>
</html>