<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head th:replace="partials/partials.html :: head">
    <title>Post Details</title>
</head>
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>
<div>
    <h3 th:text="${singlePost.title}"></h3>
    <p th:text="${singlePost.body}"></p>
    <p><strong>Categories:</strong></p>
    <ul >
     <li th:each="category : ${singlePost.categories}" th:text="${category.name}"></li>
    </ul>
    <small>Author: </small><small th:text="${singlePost.parentUser.email}"></small>
</div>
<footer th:replace="partials/partials.html :: footer"></footer>
</body>
</html>