<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style th:inline="text">
        body{
            /*background: url("@{~/img/troglodyte.png}");*/
            background-color: #212121;
        }
        h1, h2, h3, h4 {
            color: white;!important;
        }
        p, span, a, label, li {
            color:white;
        }
    </style>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item"><h3 class="text-light pl-0 pr-3">TrogBlog</h3></li>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <th:block sec:authorize="!isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Log in</a></li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/sign-up}">Sign Up</a></li>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <li class="nav-item"><a class="nav-link" href="/posts/create">Create Post</a></li>
            <li class="nav-item"><a class="nav-link" href="/profile/{username}">View Profile</a></li>
            <li class="nav-item">
                <form class="form-inline" th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn">Logout</button>
                </form>
            </li>
        </th:block>
    </ul>
</nav>
<footer th:fragment="footer">
    <hr>
    <ul>
        <li>Contact Us</li>
        <li>Customer Service</li>
        <li>Partnerships</li>
        <li>Employment</li>
    </ul>
</footer>
</body>
</html>