<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Roll the Dice!</title>
</head>
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>
<h1>Guess what number the die will land on!</h1>
<a href="/roll-dice/1">1</a>
<a href="/roll-dice/2">2</a>
<a href="/roll-dice/3">3</a>
<a href="/roll-dice/4">4</a>
<a href="/roll-dice/5">5</a>
<a href="/roll-dice/6">6</a>
<footer th:replace="partials/partials.html :: footer"></footer>
</body>
</html>